<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="Dynamic CSS.css">
  <title>Document</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="vue-app">
    <h1>Looking through lists</h1>
    <!--
    <ul>
      <li v-for="characters in characters">{{ characters }}</li>
    </ul>
  -->
    <ul>
      <li v-for="(ninjas, index) in ninjas">{{index}}.{{ ninjas.name }} - {{ninjas.age}}</li>
    </ul>
 <!--
    <ul>
      <li v-for="ninjas in ninjas">{{ ninjas}} </li>
    </ul>
 
      <div v-for="(ninja,index) in ninjas">
        <h3>{{index}}</h3>
        <p>{{ninja.name}}</p>
      </div>
      
      <template v-for="ninja in ninjas">
        <div v-for="(val,key) in ninja">
          <p>{{key}} - {{val}}</p>
        </div>
      </template>
     -->
  </div>

  <script src="LoopWithV-for_app.js"></script>
</body>
</html>